.component-item {
  height: 2rem;
  background-color: #fff;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 1fr 50px 50px;

  div {
    line-height: 2rem;
    padding-left: 16px;
    cursor: pointer;

    .edit {
      width: 1rem;
      color: #b9b9b9;
      font-size: 16px;
      opacity: 0;
      margin: 0 8px;
    }

    &:hover {
      background-color: #eee;

      .edit {
        opacity: 1;
      }
    }
  }

  span {
    color: #fff;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    &.delete {
      background-color: rgb(233, 112, 112);
    }

    &.done {
      background-color: rgb(86, 218, 174);
    }
  }
}
